.App {
    min-height: 100vh;
    background-image: linear-gradient(#B7E9F7, #FAF9F6);
    /* For browsers that do not support gradients */
    background-color: #FAF9F6;
}

.search-input {
    padding-top: 40px;
}

.weather-card {
    padding-top: 50px;
}

.weather-card__content-container {
    padding:20px;
}

.history-card {
    padding-top: 20px;
    padding-bottom: 30px;
    transition: all 1s ease-out;
}

.MuiGrid-container {
    display: flex !important;
    align-items: center !important;;
    flex-wrap: wrap !important;;
}


